// Settings
$max-width: 820px;
// Breakpoints
$breakpoint-desktop: 1784px;
$breakpoint-tablet-wide: 1250px;
$breakpoint-tablet-tall: 768px;
$breakpoint-phone-wide: 480px;
$breakpoint-phone-tall: 400px;
