// Base colours
$colour-white: #ffffff;
$colour-black: #000000;
$colour-grey: #cccccc;
$colour-off-white: #cacaca;
$colour-transparent: rgba(0, 0, 0, 0);

// Site colours
$colour-cta: #424242;
$colour-oil: #08110e;
