.profile {
    border-bottom: 1px solid $colour-off-white;
    padding-bottom: 1.55rem;
}

.profile-pic {
    max-width: 200px;
}

.profile-phrase {
    margin-top: 2.2rem;
    line-height: 1.75rem; 
}

.language-color {
    margin-right: .28rem;
}

.tech {
    margin-top: 1.5rem;
    margin-bottom: 1.7rem;
}

.tech-icon {
    max-height: 63px;
    margin-bottom: 1.7rem;
}

.treehouse-icon {
    max-height: 110px;
}

.footer {
    a {
        &:not(:last-child) {
            margin-right: 1.7rem;
        }
    }
    .fa {
        cursor: pointer;
        font-size: 1.9rem;
        opacity: 0.1;
        color: $colour-oil;
        transition: opacity 0.3s ease-in;
        &:hover {
            opacity: 0.3;
        }
    }
}

.loading-animation {
    margin: 3.375rem auto;
}


#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
}

#react-paginate .break a {
    cursor: default;
}

@include media-breakpoint-down(md) {
    .profile {
        padding-bottom: .5rem;
    }
    .profile-phrase {
        margin-top: 1.3rem;
        line-height: 1.55rem;
    }
 }
