.navbar {
    background: #333;
    padding: 0;
    .navbar-toggler {
        z-index: 9999999;
    }
}
.navbar-toggler {
    top: 5px;
}

.navbar-nav {
    padding: 0.5rem 1rem 0.5rem 0; 
    .nav-item {
        font-weight: 300;
        padding-right: 1.7rem;
        &:first-child {
            padding-left: 0;
        }
        .nav-link {
            &:first-child {
                padding-left: 0;
                
            }
            color: $colour-off-white;
            &.active {
                color: $colour-white;
            }   
            &:hover {
                color: $colour-white;
            }          
        }
    }   
}